@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
@import 'tailwindcss';

@theme {
  --font-primary: 'Baloo 2', sans-serif;
  --font-secondary: 'Inter', sans-serif;

  --color-violet: #7c3aed;
  --color-green: #22c55e;
}
